/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 10%, 4%);
  --black-color-alt: hsl(var(--hue-color), 10%, 8%);
  --title-color: hsl(var(--hue-color), 10%, 95%);
  --title-color-alt: hsl(var(--hue-color), 10%, 75%);
  --text-color: hsl(var(--hue-color), 10%, 65%);
  --text-color-alt: hsl(var(--hue-color), 10%, 45%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 10%, 6%);
  --container-color: hsl(var(--hue-color), 10%, 10%);
  --container-overlay: hsla(var(--hue-color), 10%, 2%, 0.7);
  --container-overlay-alt: hsla(var(--hue-color), 10%, 10%, 0.1);
  --scroll-thumb-color: hsl(var(--hue-color), 10%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 10%, 20%);
  --working-color: #ffa53e;
  --finish-color: #3a8841;
  --decommission-color: #ff3e3e;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", "Apple SD Gothic Neo", "Microsoft NeoGothic",
    "Droid sans", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== RESPONSIVE TYPOGRAPHY ===============*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

.dev-title {
  position: relative;
  width: 100vw;
  height: 55vh;
  max-height: 700px;
  overflow: hidden;
  background-position: 50%;
  background-repeat : no-repeat;
  background-size : cover;
  
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(14, 16, 17, 0.7);
    z-index: 1;
  }
  .title{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div{
      overflow: hidden;
    }
    h1{
      margin: 66px 0 10px;
      font-size: 64px;
      font-family: "Canyon";
    }
    h6{
      font-size: 18px;
      font-weight: 400;
      text-transform: none;
    }
  }
  .bg-area{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    // video {
    //   -webkit-backface-visibility: hidden;
    //   backface-visibility: hidden;
    //   height: 100%;
    //   -o-object-fit: cover;
    //   object-fit: cover;
    //   -o-object-position: center;
    //   object-position: center;
    //   width: 100%;
    // }
  }
}

/*
  ========================================
                CONTENT COMP
  ========================================


=============== NAV AREA ===============*/
.content-comp .nav-area {
  height: 100vh;
  left: 0;
  margin-top: -20px;
  padding-top: 90px;
  position: sticky;
  top: 0;
  transition: all 0.15s;
  width: 260px;
}

.nav-area .nav-container {
  height: 100%;
  padding-bottom: 30px;
  width: 100%;
}

.nav-area .nav-container .nav-inner {
  height: 100%;
  width: 100%;
}

.nav-area .btn-cancel {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.btn-cancel {
  background: #393a40;
  border-radius: 10px;
  display: inline-block;
  font-size: 0;
  height: 30px;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  z-index: 5;
}

.nav-area .nav-items {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-comp .nav-area .nav-items .cate-level-1 {
  position: relative;
}

.nav-area .nav-items .cate-level-1 > .item {
  background: transparent;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 4px;
  position: relative;
  transition: all 0.1s ease;
  width: 100%;
}

.nav-area .nav-items .item.is--on {
  color: #e8e9ee;
  font-weight: 700;
}

.nav-area .nav-items .cate-level-1.is--open > .item {
  background: #1f2026;
}

.nav-area .nav-items .cate-level-1 > .item span {
  position: absolute;
  left: 15px;
}

.nav-area .nav-items .level-2-wrap {
  display: none;
  margin: 6px 0;
}

.nav-area .nav-items .cate-level-1.is--open .level-2-wrap {
  display: block;
}

.content-comp .nav-area .nav-items .cate-level-1 .level-2-wrap {
  max-height: 400px;
  overflow-y: auto;
}

.nav-area .nav-items .level-2-wrap .cate-level-2 .item {
  font-family: Helvetica Now Display;
  font-size: 16px !important;
  font-size: 16.5px;
  font-weight: 700;
  line-height: 1.4;
}

.nav-area .nav-items .item {
  color: #78797d;
  display: inline-block;
  padding: 7px 12px 7px 48px;
  position: relative;
  transition: all 0.1s ease;
  width: 100%;
  word-break: keep-all;
  z-index: 1;
}


/*=============== CONTENT AREA ===============*/
.content-comp {
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}

.content-comp .content-warpper {
  display: grid;
  grid-template-columns: 320px auto;
  position: relative;
  text-align: left;
}

.content-comp .content-area {
  padding-top: 70px;
  position: relative;
}

.content-comp .item-list > .title {
  font-weight: 700;
  height: 30px;
  margin-bottom: 16px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-comp .item-list.top-group {
  margin-bottom: 40px;
}

.content-area .item-list.top-group .title h1::before {
  transition: all 0.15s;
}

.content-area .item-list.top-group:hover .title h1::before {
  margin-left: 0px;
  opacity: 1;
}

.content-area .item-list.top-group .title h1::before {
  content: "🖥️ ";
  margin-left: -35px;
  opacity: 0;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(5, 330px);
  grid-gap: 30px;
}

.card-area .card {
  background: var(--container-color);
  border-radius: 20px;
  height: 380px;
  width: 330px;
  transition: margin-top 0.15s;
  overflow: hidden;
  font-family: var(--body-font);
}

.card-area .card:hover {
  margin-top: -4px;
}

.card-area .card-inner {
  height: 100%;
  position: relative;
}

.card .card-inner .thumnail {
  height: 160px;
  width: 100%;

  background-color: var(--container-color);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.card .card-inner .thumnail img {
  object-position: center;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  filter: saturate(0.9);
}

.title-subtitle-date {
  height: 170px;
  padding: 15px;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.card .title-subtitle-date .title,
.card .title-subtitle-date .subtitle {
  -webkit-line-clamp: 2;
}

.title-subtitle-date .title a {
  color: var(--title-color-alt);
  font-size: var(--h3-font-size);
  font-weight: 500;
  word-break: keep-all;
  transition: all 0.15s;
}

.card:hover .title-subtitle-date .title a {
  color: var(--title-color);
}

.title-subtitle-date .subtitle {
  color: var(--text-color-alt);
  font-size: var(--small-font-size);
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: keep-all;
  padding-top: 6px;
  font-weight: 500;
  transition: all 0.15s;
}

.card:hover .title-subtitle-date .subtitle {
  color: var(--text-color);
}

.title-subtitle-date .date {
  width: 100%;
  bottom: 15px;
  line-height: 1.1;
  position: absolute;
}

.title-subtitle-date .date span {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  float: left;
}

.card-inner .tag_category a {
  color: var(--text-color-alt);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  float: left;
  margin-right: 10px;
  transition: all 0.15s;
  white-space: normal;
  padding: 5px 10px;
  border: 1px solid var(--scroll-thumb-color);
  border-radius: 1rem;
}

.card-inner .tag_category a:hover {
  color: var(--text-color);
  border-color: var(--text-color);
}

.card-inner .tag_category {
  height: 50px;
  padding: 13px;
  border-top: 1px solid var(--black-color-alt);
}

/*=============== BUY ME A COFFEE ===============*/

.adver-inner .buy-me-a-coffe-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  align-content: center;
}

.adver-inner .buy-me-a-coffee-title {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.adver-inner .buy-me-a-coffe-wrapper a {
  display: inline-flex;
  height: 100%;
  margin-left: auto;
  background-color: var(--black-color);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  transition: 0.3s;
}

.adver-inner .buy-me-a-coffe-wrapper a:hover {
  background-color: var(--black-color-alt);
}

.adver-inner .buy-me-a-coffe-wrapper a:hover svg {
  animation: coffee 1s ease-in-out;
}

@keyframes coffee {
  0% {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-12px, 0, 0) rotate(10deg);
  }
  40% {
    transform: translate3d(10px, 0, 0) rotate(-8deg);
  }
  60% {
    transform: translate3d(-6px, 0, 0) rotate(5deg);
  }
  80% {
    transform: translate3d(3px, 0, 0) rotate(2deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0);
  }
}

/*
  ========================================
                CONTENT COMP END
  ========================================
*/

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

/*///////////////////////////////////////////////////////*/

.hero-comp {
  z-index: 0;
}

.head-wrap {
  left: 0;
  position: absolute;
  top: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  display: none;
}

.head-wrap .head-category-area {
  left: 0;
  position: absolute;
  top: 0;
  transition: padding 0.2s;
  width: 100%;
}

.head-wrap .head-category-area .head-category {
  background: var(--container-color);
  color: var(--title-color);
  fill: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: 700;
  border-radius: 6px;
  height: 60px;
  overflow: hidden;
  padding: 0 60px 0 18px;
  pointer-events: auto;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  transition: none;
  white-space: nowrap;
  width: 100%;
}

.head-wrap .head-category-area .head-category span {
  display: none;
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 2170px) {
  .card-area {
    grid-template-columns: repeat(4, 330px);
  }

  .card-adver {
    grid-column: 4;
  }
}

@media screen and (max-width: 1810px) {
  .content-comp .content-warpper {
    grid-template-columns: 260px auto;
  }

  .content-comp .nav-area {
    width: 230px;
  }

  .card-area {
    grid-template-columns: repeat(4, 300px);
    grid-gap: 25px;
  }

  .card-area .card,
  .card-adver {
    height: 340px;
    width: 300px;
  }
  .title-subtitle-date {
    height: 130px;
  }
  .adver-item {
    height: 76px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 1600px) {
  .card-area {
    grid-template-columns: repeat(3, 300px);
  }

  .card-adver {
    grid-column: 3;
  }
}

@media screen and (max-width: 1260px) {
  .card-area {
    grid-template-columns: repeat(2, 300px);
  }

  .card-adver {
    grid-column: 2;
    grid-row: 2;
  }

  .card-adver .adver-header {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .content-comp {
    padding: 40px 20px 0;
  }

  .content-comp .content-warpper {
    grid-template-columns: unset;
  }

  .content-comp .nav-area {
    display: flex;
    height: 100%;
    margin-top: 0;
    opacity: 0;
    padding-top: 20px;
    pointer-events: none;
    position: fixed;
    transform: translateY(10px);
    width: 100%;
    z-index: 5000;
  }

  .content-comp .content-area {
    padding-top: 90px;
  }

  .footer-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-left: 0;
    margin-right: 0;
  }
  .head-wrap {
    display: block;
    top: 0;
  }
  .head-wrap .head-category-area .head-category span {
    border-radius: 10px;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
  }
  .nav-area {
    display: flex;
    height: 100%;
    margin-top: 0;
    opacity: 0;
    padding-top: 20px;
    pointer-events: none;
    position: fixed;
    transform: translateY(10px);
    width: 100%;
    z-index: 5000;
  }
  .nav-area.is--open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .content-comp {
    padding: 20px 0 0;
  }

  .content-warpper {
    width: 100%;
  }

  .card-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-area > .title {
    font-size: 16px;
    height: 20px;
    padding: 0 20px;
  }

  .card-area .card {
    border-radius: 0;
    height: auto;
    min-width: 280px;
    overflow: visible;
    width: 100%;
  }

  .card-adver {
    grid-column: 1;
    grid-row: 3;
    height: auto;
    margin: 10px 0;
    min-width: 280px;
    padding: 0 20px;
    width: 100%;
  }

  .card-adver .adver-header {
    display: block;
    padding-bottom: 16px;
    position: static;
    top: -36px;
    width: 100%;
  }

  .dev-title{
    .title{
      position: relative;
      h1{
        margin: 100px 0 10px;
        width: 100%;
        font-size: clamp(30px, 8vw, 48px);
      }
      h6{
        font-size: 14px;
      }
    }
  }
}
