// html {
//     cursor: none !important;
//   }
  
  .target_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // border: 1px solid rgb(240, 240, 240);
    border-radius: 1rem;
  }
  
  .target_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // border: 1px solid rgb(240, 240, 240);
    border-radius: 1rem;
  }

  .main-cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
  }

  .main-cursor-inner {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
  }

  .hover-cursor {
    transform-origin: center;
    position: absolute;
    top: -46px;
    left: -46px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1001;
    pointer-events: none;

    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  .showreel-cursor {
    transform-origin: center;
    position: absolute;
    top: -47px;
    left: -45px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1001;
    pointer-events: none;

    svg{
      position: absolute;
      top: calc(50% + 2px);
      left: calc(50% + 2px);
      pointer-events: none;
      transform: translate(-50%, -50%) scale(1);
    }

    p{
      font-family: 'Helvetica Now Display', sans-serif;
      position: absolute;
      top:100%;
      text-align: center;
      margin-top: 10px;
      font-size: 13px;
      pointer-events: none;
    }
  }

  .transition_div{
    position: fixed;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 100%;
    z-index: 999;
  }

  .transition_children{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 9;
  }

  @media (hover: none) and (pointer: coarse) {
    .main-cursor {
        display: none;
    }
}