footer{
    padding: 300px 3vw 3vh 3vw;
    display: flex;
    justify-content: space-between;
    color: rgb(197, 197, 197);
    text-transform: uppercase;
    button{
        color: rgb(197, 197, 197);
    }
}