@import 'variable.scss';
@import 'layout.scss';
@import 'components.scss';
@import 'pages.scss';
@import 'notion.scss';

html,
body {
  padding: 0;
  margin: 0;
  /* next/font 변수만 사용 */
  font-family: var(--font-helvetica-now-display), var(--font-roboto), var(--font-canyon), var(--font-custom), sans-serif;
}