@import 'variable.scss';
// next/font만 사용
@import 'CustomGSAP.scss';
@import 'hero.scss';
@import 'Basic.scss';
@import 'Header.scss';
@import 'Footer.scss';
@import 'works.scss';
@import 'work.scss';
@import 'Contact.scss';
@import 'About.scss';
@import 'blogs.scss';
@import 'notion.scss';

html,
body {
  padding: 0;
  margin: 0;
  /* next/font 변수만 사용 */
  font-family: var(--font-helvetica-now-display), var(--font-roboto), var(--font-canyon), var(--font-custom), sans-serif;
}